/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nicoaira/ginflow Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    input             = null
    outdir            = null

    shard_size        = 50
    id_column         = 'transcript_id'
    sequence_column   = 'sequence'
    structure_column  = 'secondary_structure'
    start_column      = 'start'
    end_column        = 'end'
    no_slices         = false
    keep_paired_neighbours = true
    context_hops      = 4
    delimiter         = '\t'

    embed_device      = 'cpu'
    ginfinity_full_precision = true
    max_batch_nodes   = 60000
    max_batch_edges   = 300000

    query             = null
    database          = null
    window_size       = 11
    window_stride     = 1
    seed_k            = 50
    seed_min_similarity = 0.8
    search_shard_size = null
    candidate_k       = 200

    quantize                       = 'none'
    pq_m                           = 16
    pq_nbits                       = 4
    pq_sample_size                 = 250000
    pq_niter                       = 12
    opq_iters                      = 10
    pq_seed                        = 1
    hnswlib_m                      = 32
    hnswlib_ef_construction        = 200
    hnswlib_ef_search              = 200
    hnswlib_random_seed             = 1
    hnswlib_num_threads             = 0
    hnswlib_rerank                  = false
    exact_rerank                    = true
    exact_rerank_device             = 'cpu'
    exact_rerank_batch_size         = 32
    exact_rerank_candidate_batch_size = 2048
    exact_rerank_workers             = 0

    index                       = 'faiss'
    search_device               = 'auto'
    cagra_to_hnsw               = false
    cagra_intermediate_graph_degree = 128
    cagra_graph_degree          = 64
    cagra_build_algo            = 'nn_descent'
    cagra_nndescent_iterations  = 6
    cagra_itopk_size            = 64
    cuvs_n_lists                = null
    cuvs_n_probes               = null
    faiss_index                 = 'flatip'
    faiss_gpu                   = false
    faiss_nlist                 = null
    faiss_nprobe                = null
    faiss_hnsw_m                = 32
    faiss_hnsw_ef_construction  = 200
    faiss_hnsw_ef_search        = 64

    cluster_span                 = 80
    cluster_min_seeds            = 2
    cluster_diagonal_tolerance   = 12
    cluster_max_diagonal_span    = 96
    cluster_max_seed_rank        = 10

    align_pad       = 32
    align_max_cells = 16777216
    align_max_alignments = 16
    align_min_score = 0.0
    align_min_match_count = 1

    evd_samples    = 1000
    evd_max_length = 400
    evd_seed       = 1

    plot_backend          = 'none'
    plot_sw               = false
    plot_max_pairs        = 25
    plot_highlight_colour = '#24B064'
    report_theme          = 'light'

    monochrome_logs   = false
    validate_params   = true
    version           = false
    trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
}

outputDir = params.outdir
workflow.output.mode = 'copy'

includeConfig 'conf/base.config'

process {
    withName: '.*BUILD_FAISS_INDEX|.*SEARCH_FAISS' {
        accelerator = {
            params.faiss_gpu ? 1 : null
        }
    }
    withName: '.*BUILD_CUVS_INDEX|.*BUILD_PQ_CAGRA_INDEX' {
        accelerator = 1
    }
    withName: '.*SEARCH_CUVS|.*SEARCH_PQ_CAGRA' {
        accelerator = {
            (params.search_device == 'cpu' || params.cagra_to_hnsw) ? null : 1
        }
    }
    withName: '.*RERANK_CANDIDATES' {
        accelerator = {
            params.exact_rerank_device == 'cuda' ? 1 : null
        }
    }
}

profiles {
    debug {
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda', 'nicolas.aira', 'rapidsai', 'nvidia']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm64 {
        process.arch            = 'arm64'
        // TODO https://github.com/nf-core/modules/issues/6694
        // For now if you're using arm64 you have to use wave for the sake of the maintainers
        // wave profile
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    emulate_amd64 {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gpu {
        params.embed_device     = 'cuda'
        params.ginfinity_full_precision = false
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
        process {
            withName: '.*:EMBED_RNA_GRAPHS' {
                accelerator = 1
            }
        }
    }
    smoke_test { includeConfig 'conf/smoke_test.config' }
    test       { includeConfig 'conf/test.config'       }
}

// Do not set a default registry so community.wave.seqera.io images are used as written.



// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nicoaira/ginflow'
    contributors    = [
        [
            name: 'Nicolas Aira',
            contribution: ['author', 'maintainer']
        ],
        [
            name: 'Uciel Chorostecki',
            contribution: ['author']
        ],
    ]
    homePage        = 'https://github.com/nicoaira/ginflow'
    description     = """Nextflow pipeline for BLAST-style search over RNA secondary structures using GINFINITY embeddings and FAISS or ScaNN seeding."""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=25.10.4'
    version         = '1.0.0dev'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.7.2'
}

validation {
    monochromeLogs = params.monochrome_logs
}
