params {
    outdir            = null
    shard_size        = 50
    id_column         = 'transcript_id'
    sequence_column   = 'sequence'
    structure_column  = 'secondary_structure'
    delimiter         = '\t'
    embed_device      = 'cpu'
    max_batch_nodes   = 60000
    max_batch_edges   = 300000
}

aws.client.anonymous = true
