params {
    outdir            = null
    shard_size        = 50
    id_column         = 'transcript_id'
    sequence_column   = 'sequence'
    structure_column  = 'secondary_structure'
    delimiter         = '\t'
    embed_device      = 'cpu'
    max_batch_nodes   = 60000
    max_batch_edges   = 300000
    query             = null
    database          = null
    window_size       = 11
    window_stride     = 1
    seed_k            = 50
    seed_min_similarity = 0.8
    cluster_span                 = 80
    cluster_min_seeds            = 2
    cluster_diagonal_tolerance   = 12
    cluster_max_diagonal_span    = 96
    cluster_max_seed_rank        = 10
    align_pad       = 32
    align_max_cells = 16777216
    evd_samples    = 200
    evd_max_length = 400
    evd_seed       = 1
    plot_backend          = 'none'
    plot_max              = 50
    plot_highlight_colour = '#00AA88'
}

aws.client.anonymous = true
