params {
    outdir            = null
    shard_size        = 50
    id_column         = 'transcript_id'
    sequence_column   = 'sequence'
    structure_column  = 'secondary_structure'
    start_column      = 'start'
    end_column        = 'end'
    no_slices         = false
    keep_paired_neighbours = true
    context_hops      = 4
    delimiter         = '\t'
    embed_device      = 'cpu'
    max_batch_nodes   = 60000
    max_batch_edges   = 300000
    query             = null
    database          = null
    window_size       = 11
    window_stride     = 1
    seed_k            = 50
    seed_min_similarity = 0.8
    index                       = 'faiss'
    faiss_index                 = 'flatip'
    faiss_gpu                   = false
    faiss_nlist                 = null
    faiss_nprobe                = null
    faiss_pq_m                  = 16
    faiss_pq_nbits              = 8
    faiss_pq_m_refine           = 4
    faiss_hnsw_m                = 32
    faiss_hnsw_ef_construction  = 40
    faiss_hnsw_ef_search        = 16
    faiss_lsh_nbits             = null
    faiss_sq_type               = '8bit'
    scann_reorder               = 100
    scann_ah_dim                = 2
    scann_anisotropic           = 0.2
    scann_soar                  = false
    scann_leaves                = null
    scann_leaves_to_search      = null
    use_scann                   = false
    cluster_span                 = 80
    cluster_min_seeds            = 2
    cluster_diagonal_tolerance   = 12
    cluster_max_diagonal_span    = 96
    cluster_max_seed_rank        = 10
    align_pad       = 32
    align_max_cells = 16777216
    evd_samples    = 200
    evd_max_length = 400
    evd_seed       = 1
    plot_backend          = 'none'
    plot_sw               = false
    plot_max_pairs        = 25
    plot_highlight_colour = '#24B064'
    report_theme          = 'light'
}

aws.client.anonymous = true
